<div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/">UBC Presentation</a>
          <ul class="nav">
            <%= nav_link("About", root_url) %>
            <%= nav_link("Ratings", ratings_url) %>
          </ul>
        </div>
      </div>
    </div>
